<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="EPSG:28355" />
		<param name = "numberOfThreads" value="16"/>
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="./network/network.xml" />
	</module>

	<module name="plans">
		<!-- 10% sample -->
	<param name="inputPlansFile" value="./demand/plan.xml" />
    </module>

<module name="controler">
   <param name="outputDirectory" value="././output/output_exp3" />
   <param name="firstIteration" value="0" />
   <param name="lastIteration" value="200" />
   <param name="mobsim" value="qsim" />
   <param name="writeEventsInterval" value="50" />
	<param name="writePlansInterval" value="50" />
	</module>

	<module name="qsim">
		<param name="vehiclesSource" value="modeVehicleTypesFromVehiclesData" />
		<param name="mainMode" value="car,truck,bike,netwalk" />
		<param name="linkDynamics" value="SeepageQ" />
		<param name="seepMode" value="bike,netwalk" />
		<param name="isSeepModeStorageFree" value="true" />

		<!-- threads for QSim, adjust based on number of cores you have -->
		<param name = "numberOfThreads" value="8"/>
		<param name = "flowCapacityFactor" value = "0.18"/>
		<param name = "storageCapacityFactor" value = "0.28"/>
		<param name = "startTime" value="00:00:00"/>
		<param name = "endTime" value="30:00:00"/>
	</module>

	<module name="vehicles" >
		<param name="vehiclesFile" value="mode-vehicles.xml" />
	</module>

	<module name="parallelEventHandling">
		<!-- Null means let matsim decide -->
		<param name="estimatedNumberOfEvents" value="null" />
		<!-- each handler will be assigned to a thread if enabled -->
		<param name="numberOfThreads" value="null" />
		<param name="oneThreadPerHandler" value="false" />
	</module>

	<module name="planCalcScore">
		<parameterset type="scoringParameters">
			<param name="earlyDeparture" value="-0.0" />
			<param name="lateArrival" value="-31.27237618" />
			<param name="marginalUtilityOfMoney" value="0.5159" />
			<param name="performing" value="10.42412539" />
			<param name="subpopulation" value="null" />
			<param name="utilityOfLineSwitch" value="-1.0" />
			<param name="waiting" value="-0.0" />
			<param name="waitingPt" value="-20.84825079" />

			<parameterset type="modeParams" ><!-- car -->
				<param name="mode" value="car" />
				<param name="constant" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-0.0" />
				<param name="monetaryDistanceRate" value="-0.0007080" />
			</parameterset>

			<parameterset type="modeParams" ><!-- truck -->
				<param name="mode" value="truck" />
				<param name="constant" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-0.0" />
				<param name="monetaryDistanceRate" value="-0.0007080" />
			</parameterset>

			<parameterset type="modeParams" ><!-- pt -->
				<param name="mode" value="pt" />
				<param name="constant" value="-23.48297513" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-0.09461678" />
				<param name="dailyMonetaryConstant" value="-8.6" />
			</parameterset>

			<parameterset type="modeParams" ><!-- walk -->
				<param name="mode" value="walk" />
				<param name="constant" value="-0.38552456" />
				<param name="marginalUtilityOfDistance_util_m" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-0.43375109" />
			</parameterset>

			<parameterset type="modeParams" ><!-- walk -->
				<param name="mode" value="netwalk" />
				<param name="constant" value="-0.38552456" />
				<param name="marginalUtilityOfDistance_util_m" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-0.43375109" />
			</parameterset>

			<parameterset type="modeParams" ><!-- bike -->
				<param name="mode" value="bike" />
				<param name="constant" value="-1.03305065" />
				<param name="marginalUtilityOfDistance_util_m" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-2.13717694" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Home -->
				<param name="activityType" value="Home" />
				<param name="minimalDuration" value="08:00:00" />
				<param name="typicalDuration" value="12:00:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Work -->
				<param name="activityType" value="Work" />
				<param name="minimalDuration" value="06:00:00" />
				<param name="typicalDuration" value="08:00:00" />
				<param name="openingTime" value="07:00:00" />
				<param name="latestStartTime" value="09:00:00" />
				<param name="closingTime" value="18:00:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Shop -->
				<param name="activityType" value="Shop" />
				<param name="minimalDuration" value="00:30:00" />
				<param name="typicalDuration" value="01:00:00" />
				<param name="openingTime" value="07:00:00" />
				<param name="latestStartTime" value="09:00:00" />
				<param name="closingTime" value="18:00:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Study -->
				<param name="activityType" value="Study" />
				<param name="minimalDuration" value="06:00:00" />
				<param name="typicalDuration" value="08:00:00" />
				<param name="openingTime" value="07:00:00" />
				<param name="latestStartTime" value="09:00:00" />
				<param name="closingTime" value="18:00:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Other -->
				<param name="activityType" value="Other" />
				<param name="minimalDuration" value="06:00:00" />
				<param name="typicalDuration" value="08:00:00" />
				<param name="openingTime" value="07:00:00" />
				<param name="latestStartTime" value="09:00:00" />
				<param name="closingTime" value="18:00:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Social/Recreational -->
				<param name="activityType" value="Social/Recreational" />
				<param name="minimalDuration" value="06:00:00" />
				<param name="typicalDuration" value="08:00:00" />
				<param name="openingTime" value="07:00:00" />
				<param name="latestStartTime" value="09:00:00" />
				<param name="closingTime" value="18:00:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Personal -->
				<param name="activityType" value="Personal" />
				<param name="minimalDuration" value="06:00:00" />
				<param name="typicalDuration" value="08:00:00" />
				<param name="openingTime" value="07:00:00" />
				<param name="latestStartTime" value="09:00:00" />
				<param name="closingTime" value="18:00:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Pickup/Dropoff/Deliver -->
				<param name="activityType" value="Pickup/Dropoff/Deliver" />
				<param name="minimalDuration" value="00:10:00" />
				<param name="typicalDuration" value="00:30:00" />
			</parameterset>

			<parameterset type="activityParams" ><!-- Freight -->
				<param name="activityType" value="Freight" />
				<param name="minimalDuration" value="00:10:00" />
				<param name="typicalDuration" value="00:30:00" />
			</parameterset>

		</parameterset>
	</module>

	<module name="planscalcroute" >
		<param name="networkModes" value="car,truck,bike,netwalk" />
		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.3" />
			<param name="mode" value="walk" />
			<param name="teleportedModeFreespeedFactor" value="null" />
			<param name="teleportedModeSpeed" value="1.3" />
		</parameterset>
		<parameterset type="teleportedModeParameters" >
			<param name="beelineDistanceFactor" value="1.3" />
			<param name="mode" value="pt" />
			<param name="teleportedModeFreespeedFactor" value="null" />
			<param name="teleportedModeSpeed" value="27.78" />
		</parameterset>
	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" />
		<param name="fractionOfIterationsToDisableInnovation" value="0.8" />

		<parameterset type="strategysettings" >
			<param name="strategyName" value="BestScore" />
			<param name="subpopulation" value="Worker"/>
			<param name="weight" value="0.8" />
		</parameterset>
		<parameterset type="strategysettings" >
			<param name="strategyName" value="ReRoute" />
			<param name="subpopulation" value="Worker"/>
			<param name="weight" value="0.1" />
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="SubtourModeChoice"/>
			<param name="weight" value="0.1"/>
			<param name="subpopulation" value="Worker" />
		</parameterset>

		<parameterset type="strategysettings" >
			<param name="strategyName" value="BestScore" />
			<param name="subpopulation" value="NonWorker"/>
			<param name="weight" value="0.9" />
		</parameterset>
		<parameterset type="strategysettings" >
			<param name="strategyName" value="ReRoute" />
			<param name="subpopulation" value="NonWorker"/>
			<param name="weight" value="0.1" />
		</parameterset>

		<parameterset type="strategysettings" >
			<param name="strategyName" value="BestScore" />
			<param name="subpopulation" value="Freight"/>
			<param name="weight" value="0.8" />
		</parameterset>
		<parameterset type="strategysettings" >
			<param name="strategyName" value="ReRoute" />
			<param name="subpopulation" value="Freight"/>
			<param name="weight" value="0.2" />
		</parameterset>
	</module>

	<module name="subtourModeChoice" >
		<param name="chainBasedModes" value="car,bike" />
		<param name="considerCarAvailability" value="false" />
		<param name="modes" value="car,bike,netwalk" />
	</module>

	<module name="travelTimeCalculator" >
		<param name="analyzedModes" value="car,truck,bike,netwalk" />
		<param name="separateModes" value="true" />
	</module>

</config>
